
nav {
    background-color: rgb(93, 25, 130);
}

.bg-dark {
    background-color: #000 !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.store {
background-color:white; /* Slightly transparent background for better visibility */
border-radius: 20%; /* Make the control icons circular */
width: 20px; /* Adjust width */
height: 20px; /* Adjust height */
}
.get {
    text-align: center; /* Center text */
color: #fff;
background-color: #800080; /* Purple color */
border-color: #800080; /* Purple color */
border-radius: 5px; /* Border radius of 5px */
padding: 8px 20px; /* Adjust padding to increase width */
transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

.get:hover {
background-color: #fff; /* White background on hover */
border-color: #800080; /* Purple border color on hover */
color: #800080; /* Text color on hover */
}
.coupon-card {
width: 100%; /* Set the width of the card */
border-radius: 10px; /* Rounded corners */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.image-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
}
.image-list li {
    list-style: none;
}
.image-item-fluid {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.image-item-fluid:hover {
    transform: scale(1.1);
}
.fw-bold {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.social-icons a {
    color: white; /* Change icon color as needed */
    margin-left: 10px; /* Adjust margin between icons as needed */
    font-size: 25px; /* Adjust icon size as needed */
}
